<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<div *ngIf="activeIndex == 0" class="d-flex">
  <p-pickList [source]="availableJobs" [target]="targetJobs" filterBy="name,piecetype,dueDate" [responsive]="true"
    sourceHeader="All Jobs ({{availableJobs? availableJobs.length : 0}})"
    targetHeader="Scheduled Jobs ({{targetJobs? targetJobs.length : 0}})" dragdrop="true"
    [sourceStyle]="{'height':'400px'}" [metaKeySelection]="false" [targetStyle]="{'height':'400px'}">
    <ng-template let-job pTemplate="item">
      <div class="ui-helper-clearfix" #pane>
        <div style="font-weight: 600;">{{job.name}} - {{job.pieceType}} - [{{job.dueDate | date:'yyyy-MM-dd'}}] -
          ({{job.numOfPieces}})</div>
        <ng-container *ngIf="pane.parentElement.parentElement.classList.contains('ui-picklist-target')">
          <div style=" font-size: 0.8em; border-bottom: 1px solid #ddd;">
            <div class="d-flex flex-row flex-wrap align-items-center">
              <input class="m-2" style="width:110px" [(ngModel)]="job.name">
              <p-dropdown class="smallDropdown m-2"  [options]="jobTypes"
                [(ngModel)]="job.pieceType">
              </p-dropdown>
              <input type="number" class="m-2" style="width:30px" [(ngModel)]="job.numOfPieces">
            </div>
            <div class="flex-row flex-wrap">
              <span class="m-2">Due Date</span>
              <p-calendar class="m-2" dateFormat="yy-mm-dd" [ngModel]="job.dueDate | date:'yyyy-MM-dd'" [touchUI]="true"
                readonlyInput="true" (ngModelChange)="job.dueDate=convertToTimeMillis($event)" showIcon="true"
                (click)="$event.stopPropagation()">
              </p-calendar>
              <span class="m-2">Release Time</span>
              <p-calendar dateFormat="yy-mm-dd" class="calendar-with-time"
                [ngModel]="job.releaseTime | ToRelativeDate: this.scheduleStart: 1000*60" readonlyInput="true"
                [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2030" [touchUI]="true"
                (ngModelChange)="job.releaseTime=convertToRelativeTimeMinutes($event, 1000 * 60)" showIcon="true"
                (click)="$event.stopPropagation()"></p-calendar>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </p-pickList>
</div>
<div *ngIf="activeIndex == 1">

  <p-panel header="Objective priorities">
    <small>Makespan {{makespan}}%</small>
    <p-slider id="makespan" class="m-2" [(ngModel)]="makespan" [min]="0" [max]="100"></p-slider>

    <h2></h2>
    <small>Number of Setups {{setups}}%</small>
    <p-slider id="setups" class="m-2" [(ngModel)]="setups" [min]="0" [max]="100"></p-slider>

    <h2></h2>
    <small>Setup time {{setupTime}}%</small>
    <p-slider id="setupTime" class="m-2" [(ngModel)]="setupTime" [min]="0" [max]="100"></p-slider>

    <h2></h2>
    <small>Late jobs {{lateJobs}}%</small>
    <p-slider id="lateJobs" class="m-2" [(ngModel)]="lateJobs" [min]="0" [max]="100"></p-slider>
  </p-panel>

  <div class="mb-2"></div>

  <p-panel header="Advanced settings">
    <div class="d-flex flex-column">
      <div>Number of enities in the population</div>
      <input type="number" style="width:50px" [(ngModel)]="population">
      <div>Number of iterations</div>
      <input type="number" style="width:50px" [(ngModel)]="iteration">
    </div>
  </p-panel>
</div>

<div *ngIf="activeIndex == 2">
  <div>
    <p-chart #chart type="line" [data]="data" [options]="options"></p-chart>
  </div>
  <div class="d-flex flex-row align-self-center">
    <div class="m-2">
      <p-checkbox class="p-2" (onChange)="showMakespan($event)" binary="true" [(ngModel)]="isShowMakespan"></p-checkbox>
      <span>Show makespan</span>
    </div>
    <div class="m-2">
      <p-checkbox class="p-2" (onChange)="showSetupTime($event)" binary="true" [(ngModel)]="isShowSetuptime">
      </p-checkbox>
      <span>Show setuptime</span>
    </div>
    <div class="m-2">
      <p-checkbox class="p-2" (onChange)="showSetups($event)" binary="true" [(ngModel)]="isShowSetups"></p-checkbox>
      <span>Show number of setups</span>
    </div>
  </div>
  <div class="d-flex flex-column">
    <button type="button" class="btn btn-sm btn-outline-success mb-2 mt-2" (click)="schedule()">Optimize
      scheduling</button>
    <div class="d-flex flex-row justify-content-end">
      <div class="m-2 align-self-center">Start</div>
      <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="scheduleStart" [showIcon]="true" [showTime]="true"
        [styleClass]="'m-2'"></p-calendar>
      <input type="text" [(ngModel)]="description" class="m-2">
      <button type="button" class="btn btn-sm btn-outline-info m-2" (click)="save()">Save schedule</button>
    </div>
  </div>
</div>
<div class="d-flex flex-row m-2 justify-content-center">
  <button *ngIf="activeIndex != 0" type="button" class="btn btn-sm btn-outline-primary m-2" (click)="activeIndex=0">Edit
    jobs</button>
  <button *ngIf="activeIndex != 1" type="button" class="btn btn-sm btn-outline-primary m-2" (click)="activeIndex=1">Set
    Priorities</button>
  <button *ngIf="activeIndex != 2" type="button" class="btn btn-sm btn-outline-primary m-2"
    (click)="activeIndex=2">Launch Optimization</button>
</div>
