.list-group-job {
    max-height: 10rem;
    margin-bottom: 2rem;
    max-width: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-size: 0.6em;
}

.list-group {
    height: auto;
    font-size: 0.6em;
}

.list-group-item {
    padding: 0.55rem 1.0rem;
}

::ng-deep .ui-picklist {
    font-size: 0.6em;
}

.active {
    background-color: #d4d1d1;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
