<p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>

<p-dialog header="Event" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '300px'}">

  <div class="d-flex flex-column" *ngIf="selectedEvent">
      <div class="p-2">Start</div>
      <p-calendar dateFormat="yy-mm-dd" [showIcon]="true" [showTime]="true"></p-calendar>
      <div class="p-2">End</div>
      <p-calendar dateFormat="yy-mm-dd" [showIcon]="true" [showTime]="true"></p-calendar>
      <div class="p-2">Description</div>
      <input type="text" pInputText>  
  </div>
  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="displayDialog=false" label="Yes"></button>
      <button type="button" pButton icon="pi pi-close" (click)="displayDialog=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>