<div class="d-flex mb-2">
  <div class="p-2">Selected Machine: </div>
  <p-dropdown [options]="machines" [(ngModel)]="selectedMachine"
    (onChange)="onMachineChange($event)"></p-dropdown>
</div>

<full-calendar #fullCalendar [options]="options" [events]="events"></full-calendar>

<p-dialog header="{{title}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '300px'}">

  <div>
    <div class="d-flex m-2">
      <div class="p-2">Machine: </div>
      <div class="p-2">{{selectedMachine}}</div>
    </div>
    <div class="d-flex m-2">
      <div class="p-2">Start</div>
      <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="start" [showIcon]="true" [showTime]="true" (click)="startCalendarSwapZIndex()"
        [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': startZIndex}" ></p-calendar> 
    </div>
    <div class="d-flex m-2">
      <div class="p-2">End&nbsp;&nbsp;</div>
      <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="end" [showIcon]="true" [showTime]="true" (click)="endCalendarSwapZIndex()"
        [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': endZIndex}" ></p-calendar>
    </div>
    <div class="d-flex m-2">
      <div class="p-2">Description</div>
      <textarea rows="4" cols="50" [(ngModel)]="description" pInputText></textarea>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayDialog=false; saveEvent();" label="Save"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayDialog=false" label="Cancel"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
