<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Objectives</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <p-chart #chart type="line" [data]="data" [options]="options"></p-chart>
  </div>
</div>
<div class="modal-footer">
  <div class="d-flex flex-row align-self-center">
    <div class="m-2">
      <p-checkbox class="p-2" (onChange)="showMakespan($event)" binary="true" [(ngModel)]="isShowMakespan"></p-checkbox>
      <span>Show makespan</span>
    </div>
    <div class="m-2">
      <p-checkbox class="p-2" (onChange)="showSetupTime($event)" binary="true" [(ngModel)]="isShowSetuptime"></p-checkbox>
      <span>Show setuptime</span>
    </div>
    <div class="m-2">
      <p-checkbox class="p-2" (onChange)="showSetups($event)" binary="true" [(ngModel)]="isShowSetups"></p-checkbox>
      <span>Show # of setups</span>
    </div>
    <button type="button" class="btn btn-sm btn-outline-success m-2" (click)="close()" ngbAutofocus>Close</button>
  </div>
</div>