::ng-deep .ui-picklist-list{
    font-size: 0.8em;
}

::ng-deep .ui-picklist {
    font-size: 0.6em;
}

p-picklist {
    width: 100%;
}

::ng-deep .ui-picklist {
    font-size: 0.6em;
}

::ng-deep .ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper {
    width: 40%;
}

::ng-deep .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
    width: 5%;
}

::ng-deep #makespan .ui-slider-range {
    background-color: #3cb44b;
}

::ng-deep #setups .ui-slider-range {
    background-color: #ffe119;
}

::ng-deep #setupTime .ui-slider-range {
    background-color: #4363d8;
}

::ng-deep #lateJobs .ui-slider-range {
    background-color: #cc43d8;
}


::ng-deep .ui-steps .ui-steps-item {
    width: 33%;
}