<!-- Schedule Information Header -->
<div class="card mb-3">
  <div class="card-header bg-primary text-white">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h6 class="mb-0">
          <i class="pi pi-calendar mr-2"></i>{{schedule.description}}
        </h6>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <span class="badge badge-light mr-2">
            <i class="pi pi-clock mr-1"></i>Makespan: {{result.makespan}}
          </span>
          <span class="badge badge-light mr-2">
            <i class="pi pi-cog mr-1"></i>Setup: {{result.setupTime}}
          </span>
          <span class="badge badge-light">
            <i class="pi pi-refresh mr-1"></i>Setups: {{result.numberOfSetups}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Jobs Table -->
<div class="card">
  <div class="card-body p-0">
    <p-table id="jobEditorTable" #dt [columns]="jobCols" [value]="jobs" dataKey="name" 
             selectionMode="single" [(selection)]="selectedJob" [paginator]="true" [rows]="5"
             styleClass="p-datatable-sm p-datatable-striped small">
      
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 40px;" class="text-center">
            <i class="pi pi-angle-down"></i>
          </th>
          <th *ngFor="let col of columns" class="font-weight-bold">
            {{col.header}}
          </th>
          <th style="width: 40px;" class="text-center">
            <i class="pi pi-bars"></i>
          </th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-index="rowIndex">
        <tr [pSelectableRow]="rowData" 
            (click)="rowSelect.emit({name: rowData.name, jobs: jobs, makespan: result.makespan}); selectJob(rowData)"
            [pReorderableRow]="index" 
            class="cursor-pointer">
          <td class="text-center">
            <button type="button" class="btn btn-sm btn-link p-0" [pRowToggler]="rowData" (click)="selectJob(rowData)">
              <i [ngClass]="expanded ? 'pi pi-chevron-down text-primary' : 'pi pi-chevron-right text-muted'"></i>
            </button>
          </td>
          <td *ngFor="let col of columns">
            <span [ngClass]="{'text-muted': col.field !== 'name'}" 
                  [style.background-color]="col.field === 'name' ? getJobColor(rowData[col.field]) : ''"
                  [style.color]="col.field === 'name' ? 'white' : ''"
                  [style.padding]="col.field === 'name' ? '3px 6px' : ''"
                  [style.border-radius]="col.field === 'name' ? '3px' : ''"
                  [style.display]="col.field === 'name' ? 'inline-block' : ''"
                  class="d-inline-block">
              {{ col.minPipe ? col.minPipe.transform(rowData[col.field] * 1000 * 60 + baseStartTime, col.arg) : 
                 col.datePipe ? col.datePipe.transform(rowData[col.field], col.arg) : rowData[col.field] }}
            </span>
          </td>
          <td class="text-center">
            <i class="pi pi-grip-vertical text-muted cursor-move" pReorderableRowHandle></i>
          </td>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr class="bg-light">
          <td [attr.colspan]="columns.length + 2" class="p-3">
            <!-- Operations Selection -->
            <div class="row mb-3">
              <div class="col-12">
                <h6 class="text-primary mb-2">
                  <i class="pi pi-wrench mr-2"></i>Operations
                </h6>
                <div class="d-flex flex-wrap" *ngFor="let ops of rowData.route.operations; let i = index">
                  <div class="btn-group btn-group-sm mr-2 mb-2" role="group">
                    <button type="button" 
                            class="btn" 
                            [ngClass]="rowData.selectedOperation[i] == op ? 'btn-primary' : 'btn-outline-secondary'"
                            *ngFor="let op of ops"
                            (click)="selectOperation(rowData, op, i)">
                      {{op[0]}} <small class="text-muted">({{op[1]}})</small>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Release Time Setting -->
            <div class="row">
              <div class="col-12">
                <h6 class="text-primary mb-2">
                  <i class="pi pi-clock mr-2"></i>Release Time
                </h6>
                <div class="input-group input-group-sm" style="max-width: 300px;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="pi pi-calendar"></i>
                    </span>
                  </div>
                  <input type="text" 
                         class="form-control" 
                         readonly
                         [value]="(rowData.releaseTime * 1000 * 60 + this.baseStartTime) | date:'yyyy-MM-dd HH:mm'">
                  <div class="input-group-append">
                    <button type="button" 
                            class="btn btn-outline-primary" 
                            (click)="setReleaseTime(rowData)">
                      <i class="pi pi-check mr-1"></i>Set
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Actions Footer -->
<div class="mt-3 d-flex justify-content-end">
  <button type="button" class="btn btn-success" (click)="saveSchedule()">
    <i class="pi pi-save mr-2"></i>Save Schedule
  </button>
</div>