<div class="h5">Job editor</div>
<div class="d-flex">
  <p-pickList [source]="availableJobs" [target]="targetJobs" filterBy="name,piecetype,dueDate" [responsive]="true"
    sourceHeader="All Jobs" targetHeader="Scheduled Jobs" dragdrop="true" [sourceStyle]="{'height':'300px'}"
    [metaKeySelection]="false" [targetStyle]="{'height':'300px'}">
    <ng-template let-job pTemplate="item">
      <div class="ui-helper-clearfix">
        <div>{{job.name}} - {{job.pieceType}} - [{{job.dueDate | date:'yyyy-MM-dd'}}] - ({{job.numOfPieces}})</div>
      </div>
    </ng-template>
  </p-pickList>
</div>
<h2></h2>

<div class="h5">Objective priorities</div>
<small>Makespan {{makespan}}%</small>
<p-slider id="makespan" class="m-2" [(ngModel)]="makespan" [min]="0" [max]="100"></p-slider>

<h2></h2>
<small>Number of Setups {{setups}}%</small>
<p-slider id="setups" class="m-2" [(ngModel)]="setups" [min]="0" [max]="100"></p-slider>

<h2></h2>
<small>Setup time {{setupTime}}%</small>
<p-slider id="setupTime" class="m-2" [(ngModel)]="setupTime" [min]="0" [max]="100"></p-slider>

<div class="d-flex align-items-center">
  <div>Scheduling description:</div>
  <input type="text" class="m-2" style="width:200px" [(ngModel)]="description">
  <div>Number of enities in the population:</div>
  <input type="number" class="m-2" style="width:50px" [(ngModel)]="population">
  <div>Iterations:</div>
  <input type="number" class="m-2" style="width:50px" [(ngModel)]="iteration">
  <button type="button" class="btn btn-sm btn-outline-success m-2" (click)="reschedule()">Optimize scheduling</button>
  <button type="button" class="btn btn-sm btn-outline-success" (click)="save()">Save</button>
</div>