<div class="h5">Job editor</div>
<div class="d-flex">
  <p-pickList [source]="availableJobs" [target]="targetJobs" filterBy="name,piecetype,dueDate" [responsive]="true"
    sourceHeader="All Jobs ({{availableJobs? availableJobs.length : 0}})" targetHeader="Scheduled Jobs ({{targetJobs? targetJobs.length : 0}})" dragdrop="true"
    [sourceStyle]="{'height':'300px'}" [metaKeySelection]="false" [targetStyle]="{'height':'300px'}">
    <ng-template let-job pTemplate="item">
      <div class="ui-helper-clearfix" #pane>
        <div style="font-weight: 600;">{{job.name}} - {{job.pieceType}} - [{{job.dueDate | date:'yyyy-MM-dd'}}] -
          ({{job.numOfPieces}})</div>
        <div *ngIf="pane.parentElement.parentElement.classList.contains('ui-picklist-target')"
          style="font-size: 0.8em; border-bottom: 1px solid #ddd;">
          <input class="m-2" style="width:110px" [(ngModel)]="job.name">
          <span>Start</span>
          <input type="number" class="m-2" style="width:50px" [(ngModel)]="job.startTime">
          <span>Pieces</span>
          <input type="number" class="m-2" style="width:50px" [(ngModel)]="job.numOfPieces">
        </div>
      </div>
    </ng-template>
  </p-pickList>
</div>
<div class="h3">&nbsp;</div>
<div class="h5">Objective priorities</div>
<small>Makespan {{makespan}}%</small>
<p-slider id="makespan" class="m-2" [(ngModel)]="makespan" [min]="0" [max]="100"></p-slider>

<h2></h2>
<small>Number of Setups {{setups}}%</small>
<p-slider id="setups" class="m-2" [(ngModel)]="setups" [min]="0" [max]="100"></p-slider>

<h2></h2>
<small>Setup time {{setupTime}}%</small>
<p-slider id="setupTime" class="m-2" [(ngModel)]="setupTime" [min]="0" [max]="100"></p-slider>

<div class="d-flex align-items-center">
  <div>Scheduling description:</div>
  <input type="text" class="m-2" style="width:200px" [(ngModel)]="description">
  <div>Number of enities in the population:</div>
  <input type="number" class="m-2" style="width:50px" [(ngModel)]="population">
  <div>Iterations:</div>
  <input type="number" class="m-2" style="width:50px" [(ngModel)]="iteration">
  <button type="button" class="btn btn-sm btn-outline-success m-2" (click)="reschedule()">Optimize scheduling</button>
  <button type="button" class="btn btn-sm btn-outline-success" (click)="save()">Save</button>
</div>