<div class="d-flex flex-row align-items-center">
  <div class="m-2">
    <p-checkbox class="p-2" [(ngModel)]="showTooltip" binary="true" ngDefaultControl></p-checkbox>
    <span>Tooltip</span>
  </div>
  <div class="m-2">
    <p-checkbox class="p-2" [(ngModel)]="fixYAxis" binary="true" ngDefaultControl></p-checkbox>
    <span>Fix YAxis</span>
  </div>
  <div class="p-2 d-flex">
    <span>Current time: {{currentTime | date:'yyyy-MM-dd HH:mm'}}</span>
  </div>
  <div class="btn-group p-2 ml-auto" data-toggle="buttons">
    <label class="btn btn-outline-primary btn-sm" [class.active]="isSetCurrentTime">
      <input type="checkbox" [(ngModel)]="isSetCurrentTime"> Set current time
    </label>
  </div>
  <div class="p-2 d-flex">
    <button type="button" class="btn btn-outline-success btn-sm" (click)="reschedule()">Re-Schedule jobs</button>
  </div>
  <div class="btn-group p-2" data-toggle="buttons">
    <label class="btn btn-outline-success btn-sm" [class.active]="ganttType === 'MACHINE_ORIENTED'">
      <input type="radio" [(ngModel)]="ganttType" value="MACHINE_ORIENTED" (click)="gantTypeChanged('MACHINE_ORIENTED')" style="display: none;"> Machine
      Oriented
    </label>
    <label class="btn btn-outline-success btn-sm" [class.active]="ganttType === 'JOB_ORIENTED'">
      <input type="radio" [(ngModel)]="ganttType" value="JOB_ORIENTED" (click)="gantTypeChanged('JOB_ORIENTED')" style="display: none;"> Job Oriented
    </label>
  </div>
</div>

<div class="gantt-svg-wrapper"></div>
<hr />
<div *ngFor="let schedule of schedules">
  <app-job-editor [id]="schedule.id" [schedule]="schedule" [scheduleLog]="schedule.log" [baseStartTime]="convertToMilliseconds(schedule.date)" [currentTime]="currentTime" [selectedJob]="schedule.log.selectedJob" [result]="schedule.result" (rowSelect)="jobSelected($event)">
  </app-job-editor>
</div>
