<lib-crud-table 
  [entity]="entity" [entityName]="'schedules'" [filter]="''" 
  [permissions]="permissions" [itemsPerPage]="5" 
  (rowSelect)="rowSelect($event)">
</lib-crud-table>
  
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-sm btn-outline-success m-2" (click)="goPlanner()">Show Planner</button>
  <button type="button" class="btn btn-sm btn-outline-success m-2" (click)="goGanttViewer()">Show Gantts</button>
  <button type="button" class="btn btn-sm btn-outline-success m-2" (click)="goCalendarView()">Show Calendar</button>
</div>