<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light m-1" style="border:1px solid #3097D1; border-radius: 5px;">
    <img class="mr-2" src="assets/timesolware.png">
    <a class="navbar-brand" href="#">Planner</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentSelection">
          <label *ngIf="canReadEntity(projectEntity)" ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="project">Project
          </label>
          <label *ngIf="canReadEntity(productEntity)" ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="product">Product
          </label>
          <label *ngIf="canReadEntity(userEntity)" ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="user">User
          </label>
          <label *ngIf="canReadEntity(taskEntity)" ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="task">Task
          </label>
          <label *ngIf="canReadEntity(taskItemEntity)" ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="taskitem">Task item
          </label>
          <!--label ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="erdiagram">ER Diagram
          </label-->
          <label ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="planner">Planner
          </label>
          <label *ngIf="canReadEntity(scheduleEntity)" ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="schedule">Schedule
          </label>
          <label ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="gantt">Gantt Diagram
          </label>
          <label *ngIf="canReadEntity(scheduleEntity)" ngbButtonLabel class="btn-outline-primary btn-sm">
            <input ngbButton type="radio" value="calendar">Calendar
          </label>
        </div>
      </ul>
      <div class="float-right">
        <button id="logout-button" class="btn btn-sm btn-outline-primary" (click)="onLogoutClicked()">Logout
          <span class="pi pi-sign-out align-middle" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </nav>

  <p-card *ngIf="currentSelection == 'project'">
    <lib-crud-table-lib class="crud-table"
      [entityName]="'projects'" [entity]="projectEntity" 
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="projectFilter" 
      (rowSelect)="projectSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table-lib>
  </p-card>

  <p-card *ngIf="currentSelection == 'product'">
    <lib-crud-table-lib class="crud-table" 
      [entityName]="'products'" [entity]="productEntity"
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="productFilter"
      (cellSelect)="productCellSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table-lib>
  </p-card>

  <p-card *ngIf="currentSelection == 'user'">
    <lib-crud-table-lib class="crud-table" 
      [entityName]="'users'" [entity]="userEntity"
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="userFilter" 
      (cellSelect)="userCellSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table-lib>
  </p-card>

  <p-card *ngIf="currentSelection == 'task'">
    <lib-crud-table-lib class="crud-table" 
      [entityName]="'tasks'" [entity]="taskEntity"
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="taskFilter"
      (cellSelect)="taskCellSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table-lib>
  </p-card>

  <p-card *ngIf="currentSelection == 'taskitem'">
    <lib-crud-table-lib class="crud-table" 
      [entityName]="'taskitems'" [entity]="taskItemEntity"
      [permissions]="actualPermissions"
      [filter]="taskItemFilter" [itemsPerPage]="5"
      (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table-lib>
  </p-card>

  <p-card *ngIf="currentSelection == 'erdiagram'">
    <app-typeorm-erd [entities]="allEntities"></app-typeorm-erd>
  </p-card>

  <p-card *ngIf="currentSelection == 'schedule'">
    <app-schedule-selector [entity]="scheduleEntity" [entityName]="'schedules'" [filter]="''" [itemsPerPage]="5"
      (backClicked)="goBack()" (showSchedule)="showSchedule($event)" (showPlanner)="showPlanner($event)" (showCalendar)="showCalendar($event)"></app-schedule-selector>
  </p-card>

  <p-card *ngIf="currentSelection == 'gantt'">
    <app-gantt-chart *ngIf="ganttEntities" [schedules]="ganttEntities"></app-gantt-chart>
  </p-card>

  <p-card *ngIf="currentSelection == 'planner'">
    <app-planner [targetJobs]="targetJobs" [scheduleStart]="releaseTime"></app-planner>
  </p-card>

  <p-card *ngIf="currentSelection == 'calendar'">
    <app-calendar [events]="calendarEvents"></app-calendar>
  </p-card>

  <div class="toast-message">
    <p-toast></p-toast>
  </div>

</div>