<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light m-1" style="border:1px solid #3097D1; border-radius: 5px;">
    <img class="mr-2" src="assets/timesolware.png">
    <a class="navbar-brand" href="#">Planner</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-outline-primary"
                  *ngIf="canReadEntity(projectEntity)"
                  [class.active]="currentSelection === 'project'"
                  (click)="selectSection('project')">
            Project
          </button>
          <button type="button" class="btn btn-outline-primary"
                  *ngIf="canReadEntity(productEntity)"
                  [class.active]="currentSelection === 'product'"
                  (click)="selectSection('product')">
            Product
          </button>
          <button type="button" class="btn btn-outline-primary"
                  *ngIf="canReadEntity(userEntity)"
                  [class.active]="currentSelection === 'user'"
                  (click)="selectSection('user')">
            User Admin
          </button>
          <!--
          <button type="button" class="btn btn-outline-primary"
                  *ngIf="canReadEntity(taskEntity)"
                  [class.active]="currentSelection === 'task'"
                  (click)="selectSection('task')">
            Task
          </button>
          <button type="button" class="btn btn-outline-primary"
                  *ngIf="canReadEntity(taskItemEntity)"
                  [class.active]="currentSelection === 'taskitem'"
                  (click)="selectSection('taskitem')">
            Task item
          </button>
          -->
          <button type="button" class="btn btn-outline-primary"
                  [class.active]="currentSelection === 'modelSetup'"
                  (click)="selectSection('modelSetup')">
            Model Setup
          </button>
          <button type="button" class="btn btn-outline-primary"
                  [class.active]="currentSelection === 'planner'"
                  (click)="selectSection('planner')">
            Planner
          </button>
          <button type="button" class="btn btn-outline-primary"
                  *ngIf="canReadEntity(scheduleEntity)"
                  [class.active]="currentSelection === 'schedule'"
                  (click)="selectSection('schedule')">
            Schedule
          </button>
          <button type="button" class="btn btn-outline-primary"
                  [class.active]="currentSelection === 'gantt'"
                  (click)="selectSection('gantt')">
            Gantt Diagram
          </button>
          <button type="button" class="btn btn-outline-primary"
                  *ngIf="canReadEntity(scheduleEntity)"
                  [class.active]="currentSelection === 'calendar'"
                  (click)="selectSection('calendar')">
            Calendar
          </button>
        </div>
      </ul>
      <div class="float-right">
        <button id="logout-button" class="btn btn-sm btn-outline-primary" (click)="onLogoutClicked()">Logout
          <span class="pi pi-sign-out align-middle" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </nav>

  <p-card *ngIf="currentSelection == 'project'">
    <lib-crud-table class="crud-table"
      [entityName]="'projects'" [entity]="projectEntity" 
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="projectFilter" 
      (rowSelect)="projectSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table>
  </p-card>

  <p-card *ngIf="currentSelection == 'product'">
    <lib-crud-table class="crud-table" 
      [entityName]="'products'" [entity]="productEntity"
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="productFilter"
      (cellSelect)="productCellSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table>
  </p-card>

  <p-card *ngIf="currentSelection == 'user'">
    <lib-crud-table class="crud-table" 
      [entityName]="'users'" [entity]="userEntity"
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="userFilter" 
      (cellSelect)="userCellSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table>
  </p-card>

  <p-card *ngIf="currentSelection == 'task'">
    <lib-crud-table class="crud-table" 
      [entityName]="'tasks'" [entity]="taskEntity"
      [permissions]="actualPermissions"
      [itemsPerPage]="5" [filter]="taskFilter"
      (cellSelect)="taskCellSelected($event)" (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table>
  </p-card>

  <p-card *ngIf="currentSelection == 'taskitem'">
    <lib-crud-table class="crud-table" 
      [entityName]="'taskitems'" [entity]="taskItemEntity"
      [permissions]="actualPermissions"
      [filter]="taskItemFilter" [itemsPerPage]="5"
      (operationResult)="handleResult($event)" (backClicked)="goBack()">
    </lib-crud-table>
  </p-card>
  
  <p-card *ngIf="currentSelection == 'modelSetup'">
    <app-model-setup></app-model-setup>
  </p-card>

  <p-card *ngIf="currentSelection == 'erdiagram'">
    <app-typeorm-erd [entities]="allEntities"></app-typeorm-erd>
  </p-card>

  <p-card *ngIf="currentSelection == 'schedule'">
    <app-schedule-selector [entity]="scheduleEntity" [entityName]="'schedules'" [filter]="''" [itemsPerPage]="5"
      (backClicked)="goBack()" (showSchedule)="showSchedule($event)" (showPlanner)="showPlanner($event)" (showCalendar)="showCalendar($event)"></app-schedule-selector>
  </p-card>

  <p-card *ngIf="currentSelection == 'gantt'">
    <app-gantt-chart *ngIf="ganttEntities" [schedules]="ganttEntities"></app-gantt-chart>
  </p-card>

  <p-card *ngIf="currentSelection == 'planner'">
    <app-planner [targetJobs]="targetJobs" [scheduleStart]="scheduleStart"></app-planner>
  </p-card>

  <p-card *ngIf="currentSelection == 'calendar'">
    <app-calendar [events]="calendarEvents"></app-calendar>
  </p-card>

  <div class="toast-message">
    <p-toast></p-toast>
  </div>

</div>
