<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Admininstration</a>
      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentSelection">
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
              <input ngbButton type="radio" value="project">Project
            </label>
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
              <input ngbButton type="radio" value="product">Product
            </label>
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
              <input ngbButton type="radio" value="user">User
            </label>
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
              <input ngbButton type="radio" value="task">Task
            </label>
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
              <input ngbButton type="radio" value="taskitem">Task item
            </label>
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
              <input ngbButton type="radio" value="erdiagram">ER Diagram
            </label>
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="schedule">Schedule
            </label>
            <label ngbButtonLabel class="btn-outline-primary btn-sm">
              <input ngbButton type="radio" value="gantt">Gantt Diagram
            </label>
          </div>
        </ul>
        <div class="float-right">
            <button class="btn btn-sm btn-primary" (click)="onLogoutClicked()">Logout</button>
        </div>
      </div>
    </nav>
    
    <app-crud-table *ngIf="currentSelection == 'project'" [entityName]="'projects'" [formElements]="projectFormElements"
      (rowSelect)="projectSelected($event)" [itemsPerPage]="5" [filter]="projectFilter" (backClicked)="goBack()"></app-crud-table>
    <h1></h1>
    <app-crud-table *ngIf="currentSelection == 'product'" [entityName]="'products'" [formElements]="productFormElements"
      [itemsPerPage]="5" [filter]="productFilter" (cellSelect)="productCellSelected($event)" (backClicked)="goBack()"></app-crud-table>
    <h1></h1>
    <app-crud-table *ngIf="currentSelection == 'user'" [entityName]="'users'" [formElements]="userFormElements"
      [itemsPerPage]="5" [filter]="userFilter" (cellSelect)="userCellSelected($event)" (backClicked)="goBack()"></app-crud-table>
    <h1></h1>
    <app-crud-table *ngIf="currentSelection == 'task'" [entityName]="'tasks'" [formElements]="taskFormElements" [filter]="taskFilter"
      [itemsPerPage]="5" (cellSelect)="taskCellSelected($event)" (backClicked)="goBack()"></app-crud-table>
    <h1></h1>
    <app-crud-table *ngIf="currentSelection == 'taskitem'" [entityName]="'taskitems'" [filter]="taskItemFilter"
      [formElements]="taskItemFormElements" [itemsPerPage]="5" (backClicked)="goBack()"></app-crud-table>
  
    <app-typeorm-erd *ngIf="currentSelection == 'erdiagram'" [entities]="allEntities"></app-typeorm-erd>
  
    <app-crud-table *ngIf="currentSelection == 'schedule'" [entityName]="'schedules'" [filter]="''"
    [formElements]="scheduleFormElements" [itemsPerPage]="5" (rowSelect)="showScheudule($event)" (backClicked)="goBack()"></app-crud-table>

    <app-gantt-chart *ngIf="currentSelection == 'gantt'" [entities]="ganttEntities"></app-gantt-chart>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
  </div>