<div class="d-flex row align-items-center">
  <div class="m-2">Show Tooltip <input type="checkbox" [(ngModel)]="showTooltip"></div>
  <div class="p-2">Time {{time}}</div>
  <div class="btn-group btn-group-toggle p-2 ml-auto">
    <label class="btn-outline-primary btn-sm" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="isSelectTime"> Select time
    </label>
  </div>
  <button type="button" class="btn btn-sm btn-outline-success" (click)="reschedule()">Re-Schedule jobs</button>
  <div class="btn-group btn-group-toggle p-2" ngbRadioGroup [(ngModel)]="ganttType">
    <label class="btn-outline-success btn-sm" ngbButtonLabel>
      <input type="radio" ngbButton [value]="'MACHINE_ORIENTED'" (click)="gantTypeChanged('MACHINE_ORIENTED')"> Machine
      Oriented
    </label>
    <label class="btn-outline-success btn-sm" ngbButtonLabel>
      <input type="radio" ngbButton value="'JOB_ORIENTED'" (click)="gantTypeChanged('JOB_ORIENTED')"> Job Oriented
    </label>
  </div>
</div>

<div class="gantt-svg-wrapper"></div>
<hr/>
<!--div *ngFor="let entity of entities"-->
  <app-edit-schedule [entity]="entities[0]" [selectedJob]="entities[0].selectedJob" (rowSelect)="jobSelected($event)"></app-edit-schedule>
<!--/div-->