<table class="table table-striped">
  <thead>
    <tr>
      <ng-container *ngFor="let col of formElements">
        <th scope="col" *ngIf="!col.hidden">{{col.header}}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of tableData">
      <ng-container *ngFor="let col of formElements">
        <td scope="row" (click)="rowSelect(dataRow)" *ngIf="!col.hidden">
          <div *ngIf="!col.linkedObject">

            <div [ngSwitch]="col.controlType">
                <div *ngSwitchCase="'checkbox'">
                    <i *ngIf="dataRow[col.key]" class="pi pi-check"></i>
                    <i *ngIf="!dataRow[col.key]" class="pi pi-times"></i>
                </div>
                <div *ngSwitchDefault>{{dataRow[col.key]}}</div>
            </div>

          </div>

          <div *ngIf="col.linkedObject">
            <span *ngFor="let val of dataRow[col.linkedObject]" class="badge badge-success m-1">{{val[col.linkedData.value]}}</span>
          </div>

        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <button type="button" class="btn btn-outline-primary align-self-start" (click)="add()">Add</button>
  <ngb-pagination [collectionSize]="models.length" [(page)]="page" [pageSize]="itemsPerPage"></ngb-pagination>
</div>