<div class="d-flex justify-content-end p-2 form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchFilter">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <ng-container *ngFor="let col of formElements">
        <th scope="col" *ngIf="!col.hidden">{{col.header}}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of tableData">
      <ng-container *ngFor="let col of formElements">
        <td scope="row" (click)="rowSelect(dataRow)" *ngIf="!col.hidden">
          <div *ngIf="!col.linkedObject">

            <div [ngSwitch]="col.controlType">
              <div *ngSwitchCase="'checkbox'">
                <i *ngIf="dataRow[col.key]" class="pi pi-check text-success"></i>
                <i *ngIf="!dataRow[col.key]" class="pi pi-times text-danger"></i>
              </div>
              <ngb-highlight *ngSwitchDefault [result]="dataRow[col.key]" [term]="searchFilter"></ngb-highlight>
            </div>

          </div>

          <div *ngIf="col.linkedObject && col.multipleSelect">
            <span *ngFor="let val of dataRow[col.linkedObject]"
              class="badge badge-success m-1">{{val[col.linkedData.value]}}</span>
          </div>
          <div *ngIf="col.linkedObject && !col.multipleSelect"> 
            <span class="badge badge-success m-1">{{dataRow[singleName(col.linkedObject)][col.linkedData.value]}}</span>
          </div>

        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <div class="mr-auto">
    <small>Showing {{firstEntity + 1}} to {{lastEntity}} of {{currentEntities}} </small>
    <small *ngIf="searchFilter">(filtered from {{allEntities}} entries)</small>
  </div>
  <button type="button" class="btn btn-outline-primary align-self-start m-2" (click)="add()">Add</button>
  <ngb-pagination class="m-2" [collectionSize]="currentEntities" [(page)]="page" [pageSize]="itemsPerPage">
  </ngb-pagination>
</div>