<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let col of columns" scope="col">{{col.header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of tableData">
      <td *ngFor="let col of columns" scope="row" (click)="rowSelect(dataRow)">
        {{dataRow[col.field]}}
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <button type="button" class="btn btn-outline-primary align-self-start" (click)="add()">Add</button>
  <ngb-pagination [collectionSize]="models.length" [(page)]="page" [pageSize]="4"></ngb-pagination>
</div>